:root {
    --base-font-size: 14px;
}

.cover .cover-main {
    max-width: none;
}

.markdown-section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 15px 40px;
    position: relative;
}

.markdown-section .table-wrapper table {
    display: table;
    width: auto;
}
